---
import type { Player } from "@/types/Boxer"
import CombatFeatureCountry from "@/components/equipos/CombatFeatureCountry.astro"
import CombatFeatureName from "@/components/equipos/CombatFeatureName.astro"

interface Props {
	boxer: Player
	featureKey: string
	concat?: string
}

const { boxer, featureKey, concat } = Astro.props
---

{featureKey === "country" && <CombatFeatureCountry boxer={boxer} />}
{featureKey === "name" && <CombatFeatureName boxer={boxer} />}
{!["country", "name"].includes(featureKey) && (
	<td class="py-3 font-semibold">{boxer[featureKey as keyof typeof boxer]} {concat ?? ""}</td>
)}