---
import Typography from "@/components/Typography.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout
	title="Nosotros | Campo de Creadores"
	description="Descubre qué es Campo de Creadores, un evento único que fusiona fútbol, influencers y espectáculo en cada edición."
>
	<main class="py-12 text-center">
		<div class="mx-auto max-w-3xl space-y-4 text-lg text-white/90">
			<Typography
				class="title mb-12 -skew-y-6 text-wrap text-center font-atomic text-4xl sm:text-6xl"
				color="primary"
				as="h1"
			>
				Nosotros<br />
			</Typography>
			<br />
			<br />
			<h1 class="font-akony mb-4 text-5xl font-bold text-white">¿Qué es Campo de Creadores?</h1>
			<p>
				Campo de Creadores es más que un simple evento; es una experiencia que evoluciona con cada
				edición. Nuestro principal eje es la pasión por el fútbol, fusionada con el dinamismo y la
				creatividad de los influencers más destacados del momento.
			</p>
			<p>
				Cada año, transformamos el campo en un escenario donde el deporte rey se encuentra con el
				entretenimiento digital, creando un espectáculo inolvidable. No se trata solo de un partido,
				sino de un show diseñado para sorprender, emocionar y conectar a la comunidad de una manera
				única.
			</p>
		</div>
	</main>
</Layout>
