---
import Typography from "@/components/Typography.astro"
import { EDITIONS } from "@/consts/editions"
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"

export const prerender = true
---

<Layout
	description={"Todas las ediciones de Campo de Creadores"}
	title={"Ediciones - Campo de Creadores"}
>
	<main class="flex min-h-screen flex-col items-center text-[#b4cd02]">
		<div class="mx-auto w-full max-w-4xl p-8">
			<Typography
				class="title mb-12 -skew-y-6 text-wrap text-center font-atomic text-4xl sm:text-6xl"
				color="primary"
				as="h1"
			>
				ediciones<br />
			</Typography>

			<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
				{
					EDITIONS.map((edition) => (
						<a
							href={`/ediciones/${edition.id}`}
							class="group flex flex-col items-center gap-4 transition hover:scale-105"
						>
							<Image
								src={edition.poster}
								alt={`Póster de ${edition.name}`}
								width={300}
								height={450}
								class="aspect-[2/3] w-full max-w-xs rounded-lg object-cover shadow-lg"
							/>
							<Typography
								as="h3"
								variant="h3"
								color="white"
								class="text-center uppercase group-hover:text-primary"
							>
								{edition.name}
							</Typography>
						</a>
					))
				}
			</div>
		</div>
	</main>
</Layout>
