---
import GithubIcon from "@/icons/github.astro"
import InstagramIcon from "@/icons/instagram.astro"
import TiktokIcon from "@/icons/tiktok.astro"
---

<nav class:list={`${Astro.props.class}`}>
	<ul
		class="flex flex-row items-center gap-x-6"
		aria-label="redes sociales y botón para alternar tema"
	>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="Instagram de Campo de Creadores, se abrirá en una nueva pestaña"
				href="https://www.instagram.com/campodecreadores/"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<InstagramIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="TikTok de Campo de Creadores, se abrirá en una nueva pestaña"
				href="https://www.tiktok.com/@campodcreadores"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<TiktokIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="GitHub de Campo de Creadores, se abrirá en una nueva pestaña"
				href="https://github.com/Alvarog0218/"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<GithubIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
	</ul>
</nav>
