---
import YouTube from "@/components/YouTube.astro"
---

<section
	class="group mb-10 flex w-full flex-col items-center justify-center px-20 font-medium text-primary md:mb-48 md:pt-16"
	aria-label="descripción del evento"
>
	<hr
		class="h-[2px] min-w-[18rem] max-w-lg border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent sm:w-full"
	/>

	<a
		href="https://www.youtube.com/@campo-de-creadores/videos"
		target="_blank"
		rel="nofollow noopener"
		class="group/twitch mb-8 mt-0"
		aria-hidden="true"
		tabindex="-1"
		title="Enlace al canal de Youtube de Campo de Creadores"
	>
		<div
			class="mx-auto -mt-8 mb-4 w-14 scale-75 duration-200 group-hover/twitch:scale-90 motion-safe:transition md:-mt-8 md:mb-9 md:scale-110 md:group-hover/twitch:scale-125"
		>
			<YouTube />
		</div>

		<div class="duration-200 group-hover/twitch:scale-110 motion-safe:transition">
			<span
				class="skew-x-10 block -rotate-6 text-center font-atomic text-xl text-white underline-offset-8 transition sm:text-2xl md:text-5xl"
				>en vivo
			</span>
			<span><br /></span>
			<h2
				class="title -mt-2 flex justify-center text-wrap text-center text-2xl text-accent md:text-5xl"
			>
				Campo de Creadores
			</h2>
		</div>
	</a>

	<hr
		class="my-7 h-[2px] w-full min-w-[18rem] max-w-lg border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent md:my-9"
	/>
</section>

<style>
	.title {
		font-family: "Akony", sans-serif;
	}
</style>
