name: "Tag PRs with merge conflicts"
on:
  # So that PRs touching the same files as the push are updated
  push:
    branches:
      - main
  # So that the `dirtyLabel` is removed if conflicts are resolve
  # We recommend `pull_request_target` so that github secrets are available.
  # In `pull_request` we wouldn't be able to change labels of fork PRs
  pull_request_target:
    types: [synchronize]

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: check if prs are dirty
        uses: actions/label-merge-conflict@v2
        with:
          dirty-label: "conflictos"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          comment-on-dirty: "⚠️ Esta Pull Request tiene conflictos. Por favor, resuélvelos antes de que podamos evaluar los cambios."
          comment-on-clean: "✅ ¡Los conflictos han sido resueltos! Un colaborador revisará pronto la Pull Request."
